* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 80%;
}
.inner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 70%;
}

header {
  position: relative;
  color: white;
  padding: 0 auto;
}

header nav {
  position: absolute;
  top: 30px;
  left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  height: 40px;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  padding: 10px 20px;
  margin: 0px 10px;
}

section.hero-section {
  background-image: url("./images/Object.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 130vh;
  color: white;
}

section.hero-section div.container.hero-top div {
  padding-top: 15%;
  padding-bottom: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section.hero-section div.container.hero-top div h1 {
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

section.hero-section div.container.hero-top div span {
  padding: 10px 20px;
  margin: 0px 10px;
  font-weight: 600;
}

button.default {
  width: fit-content;
  display: block;
  margin-top: 30px;
  background-color: #c271ff;
  color: white;
  padding: 15px 40px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
button.default:hover {
  background-color: #a045f0;
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.6);
}

section.hero-section div.container.hero-middle h2 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
section.hero-section div.container.hero-middle h2 span {
  color: #c271ff;
  font-weight: bold;
}
section.hero-section div.container.hero-middle div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
section.hero-section div.container.hero-middle div.profile-container {
  display: block;
  text-align: center;
}
section.hero-section div.container.hero-middle div.profile-container img {
  border-radius: 60px;
  width: 150px;
}

section.testimonial {
  background-color: #c271ff;
  padding: 70px 0px;
}
section.testimonial div.inner-container {
  display: flex;
  gap: 100px;
  align-items: center;
  color: white;
  font-size: 20px;
}
section.testimonial div.inner-container div.text-block blockquote {
  margin-bottom: 20px;
}

section.tutorials div.container {
  margin: 70px auto;
}

section.tutorials div.container h2 {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}
section.tutorials div.container h2 span {
  color: #c271ff;
  font-weight: 600;
}

section.tutorials div.container div.outer-tutorials-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container {
  display: block;
  text-align: center;
}

section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  p,
h3 {
  text-align: left;
}

section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  div.name-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  div.name-container
  img {
  width: 40px;
}
section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  div.name-container {
  color: #c271ff;
}

section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  div.outer-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  color: #c271ff;
}
section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  div.text-container {
  padding: 0 10px;
}
section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  div.outer-rating-container
  div.rating-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  div.image-container {
  position: relative;
  transition: all 0.3s ease;
}

section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  div.image-container:hover {
  transform: translateY(-4px) scale(1.02);
}

section.tutorials
  div.container
  div.outer-tutorials-container
  div.tutorials-container
  div.image-container
  img#play-button {
  position: absolute;
  top: 30%;
  left: 35%;
  cursor: pointer;
}

section.membership {
  background-color: #071629;
  padding: 70px 0px;
  color: white;
  font-weight: 200;
}
section.membership div.container h2 {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}
section.membership div.container button.default {
  margin: auto auto;
  margin-top: 50px;
}
section.membership div.container h2 span {
  color: #c271ff;
  font-weight: 600;
}

section.membership div.container div.membership-outer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
section.membership
  div.container
  div.membership-outer-container
  div.membership-container {
  text-align: center;
}
section.membership
  div.container
  div.membership-outer-container
  div.membership-container
  h3 {
  text-align: center;
  margin: 10px 0px;
}

section.faq {
  margin: 100px 0px;
}
section.faq div.container h2 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

section.faq div.container div.faq-outer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding: 20px;
  margin-top: 30px;
  justify-content: center;
}

section.faq div.container div.faq-outer-container div.faq-container {
  width: fit-content;
}

footer.footer {
  background-color: #071629;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

footer.footer section.container div.footer-top-section {
  display: flex;
  justify-content: space-between;
}

footer.footer section.container div.footer-top-section div.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

footer.footer section.container p {
  margin-top: 50px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}
